<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>    
    <link rel="stylesheet" href="../CSS/dicas.css">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

</head>
<body>
    <!-- NAVBAR-->
    <nav class="navbar col-12 position-fixed navbar-expand-lg navbar-dark bg-dark" style="z-index: 999;">
      <div class="container-fluid col-11 m-auto">
        <a class="navbar-brand" href="#">SAFEHACK</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="#">LGPD</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">DICAS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">TUDO SOBRE VAZAMENTOS</a>
            </li>
          </ul>          
        </div>
      </div>
    </nav>
    
    <br><br>
    <div class="container">
    <div class="formatacao">
      <h1>Introdução a segurança da informação</h1>
      <br>
        <div>
          <div>
            <h2>O que é vazamento de dados?</h2>
          </div>
          <div>
            <p>
              Segundo a LGPD, que citaremos mais a frente neste artigo, no aritigo 4º, item 12, do RGPD (Regulamento Geral Sobre Proteção de Dados)
              : "uma violação da segurança que provoque, de modo acidental ou ilícito, a destruição, a perda, a alteração, a divulgação ou o acesso, 
              não autorizados, a dados pessoais transmitidos, conservados ou sujeitos a qualquer outro tipo de tratamento".
              <br>
              Em outras palavras, é basicamento quando alguém obtem acesso aos dados pessoais de outra pessoa, sem a devida permissão do mesmo,
              causando a destruição, a perda, a alteração ou a divulgação de forma acidental ou intencional destas informações.              
            </p>
          </div>
        </div>
      
        <div>
          <div><h2>Causas</h2></div>
          <div>
            <p>
              As causas de um vazamento de dados podem ser por diversos fatores, como:
              <ul>
                <li>ataques cibernéticos: envolve a ação de malwares, phishings, spywares e ransomware</li>
                <li>falhas e brechas no código da aplicação</li>
                <li>
                  falta de conhecimento técnico ignorância dos próprios usuários quanto a segurança, como a falta de backups e dowloads
                  de fontes suspeitas
                </li>
              </ul>
            </p>
          </div>
        </div>

        <div>
          <h2>Por que ocorrem?</h2>
          <p>
            É importante frisar que vazamento de dados não se trata de algo específico a internet, vazamento de dados está relacionado ao vazamento
            de qualquer tipo de informação relacionada a uma pessoa física ou jurídica, e com o avanço da internet este acontecimento
            também passou a ocorrer no meio digital.<br>
            Contudo é correto afirmar que a modernização nos meios de armazenamento de informação e evolução dos sistemas computacionais
            também favoreceu ações criminosas de invasão a sistemas e furto de grande massa de dados.
          </p>
          <h3>Momentos de crise</h3>
          <p>
            Momentos de crise geram várias oportunidades para atauques cibernéticos, tendo em vista que os admnistradores dos sistemas estão gastando esforços
            para lidar com a crise em questão, nem sempre é possível entregar algo seguro num curto prazo de tempo devido as circustâncias que exigem uma
            medida rápida e eficiente.
          </p>
          <h3>Desejos pessoais</h3>
          <p>
            Muitos hackers acabam sendo movidos por vontades pessoais, através de seus ataques eles podem obter nomes, cpfs, número de cartões e através dessas
            informações eles conseguem obter empréstimos, realizar compras por cartões clonados, entre outras possibilidades.
          </p>
          <h3>Falta de segurança</h3>
          <p>
            É bem comum invasores acharem brechas na seguraça de sites, sistemas, apps entre outras aplicações, seja por uma brecha no código,
            ou por uma senha fraca, segundo um arquitigo do site Olhar Digital, um ex-CEO da empresa SolarWinds, organização responsável por proteger
            as maiores empresas do mundo, teve uma senha de acesso a um servidor vazada durante anos, senha intitulada de "solarwinds123" utilizada por um estagiário,
            foi uma questão de tempo até um infratar logar no servidor da empresa e realizar o upload de algum software malicioso, ou roubar algumas das informações da empresa.
          </p>
        </div>

        <div>
          <div>
            <h2>LGPD</h2>
          </div>
          <div>
            <p>
              A Lei Geral de Proteção de Dados (LGPD) é a lei brasileira que regula como as empresas devem zelar pelos dados de seus clientes, além de cobrir
              diversos outros temas sobre segurança da informação, aplicando diversos tipos de punições a empreas e pessoas que não seguirem as norams regidas por ela, 
              claro que punições justas considerando os tipos de infrações cometidas. A LGPD tem como base o Regulamento Geral sobre a Proteção de Dados ou RGPD 
              que é o regulamento que rege as leis acerca de segurança da informação em toda a europa.
            </p>
          </div>
        </div>

        <div>
          <div>
            <h2>Dados pessoais e dados sensíveis</h2>
          </div>
          <div>
            <p>
              Dados pessoais são os dados realacionados diretamente a pessoa, ou que através de seu cruzamento com outras 
              informções, possa levar a identificação de alguém.
              <br>
              Já os dados pessoais sensíveis, são as informações relacionadas a pessoa física que possa causar algum tipo de
              discriminação, exemplos destes dados são:
              <ul>
                <li>dados de origem racial ou étinica, opniões políticas e convicções religiosas ou filosóficas;</li>
                <li>dados de filiação sindical;</li>
                <li>dados  genéticos, biométricos tratados simplesmente para identificar um ser humano;</li>
                <li>dados realcionados com a saúde;</li>
                <li>dados relativos à vida sexual ou orientação sexual da pessoa</li>
              </ul>
            </p>
          </div>
        </div>

        
        <div>
          <div>
            <h2>Como se proteger</h2>
          </div>
          <div>
            <p>
              Há alguns passos básicos para aumentar sua segurança, lembrando que estas dicas não garantem a proteção de nenhum usuário, apenas
              ajudam a dimuniar as chances dele ser exposto, passos como realizar todos os procedimentos de segurança ao cadastra-se em um site,
              exemplos como a verificação de login por email, vericação em duas etapas, cadastrar dados únicos que são fortemente ligados a você como CPF,
              número de telefone, entre outros recursos que os fornecedores disponibilizam a você na hora de criar seu login ou aumentar sua segurança, lembrando que isto
              pode variar de site para site, aplicativo para aplicativo.
            </p>
          </div>
          <div>
            <h3>Senhas fortes</h3>
          </div>
          <div>
            <p>
              Segundo uma matéria publicada no UOL, foi divulgado pela empresa de segurança digital NordPass as senhas
              mais fracas utlizadas em diversos países, chamado de <i>Awful Pasword List</i> (A Lista de Senhas Horríveis),
              a pesquisa apontou que "123456", "123456789" e "Brasil" estão entre as combinações mais utlizadas dentre os brasileiros. Outras
              senhas como "Gabriel", "Flamengo" e "Naruto" também estão entre as senhas mais utilizadas no país.
              <br>
              Na pesquisa realizada pela empresa de segurança, também foi executados testes de invasão com as senhas mais utilizadas
              no país, senhas que foram quebradas em poucos segundos pelos testes realizados, palavras como "senha" seriam 
              quebradas em média de 10 segundos, "Naruto" em menos de um segundo, "Flamengo" em menos de 3 horas.
              <br>
              Jonas Karklys, diretor-presidente da NordPass, informou em um comunicado que infelizmente as senhas estão ficando
              cada vez mais fracas e vulneráveis, porém há alternativas que ajudam a contornar esse problema e melhoram a segurança
              dos usuários, como utilizar senhas fortes misturando letras maiúsculas, minúsculas, números e símbolos, manter uma 
              rotina de manutenção de suas senhas, não reutilizar senhas e atualiza-las com frequência, são algumas das dicas que
              a empresa sugere para melhorar a sua segurança.
            </p>
          </div>
          <div>
            <h3>Verificação de dois fatores</h3>
          </div>
          <div>
            <p>
              Há diversos serviçoes que adotam este tipo de verificação, este tipo de vericação consiste em uma camada 
              extra de segurança, além do usuário ter que realizar o login, será gerado e enviado um código via email, sms
              ou outra plataforma escolhida, para o usuário ter que digitar, assim ele terá o email e demais serviços protegidos.
            </p>
          </div>
        </div>       

      </div>
    </div>
  
    <footer>FOOTER</footer>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

</body>
</html>